{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

<style>
    .errorlist {
        list-style-type: none;
        color: red;
        padding-left: 5px;
        margin: 0px;
    }

    .error_border {
        background-color: #ffe0e0;
        border-color: #dc3545;
        border-radius: .25rem;
        margin-bottom: 20px;
        padding: 10px;
    }
</style>

<div class="login-box">
    <div class="login-logo">
        Реестры <b>ОСФР</b>
    </div>
    <div class="card">
        <div class="card-body login-card-body">

            <form action="{% url 'authapp:login' %}" method="post">
                {% csrf_token %}

                {% if login_form.non_field_errors %}
                <ul class="errorlist error_border">
                    {% for error in login_form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="input-group">
                    <input
                            autofocus=""
                            required=""
                            id="{{ login_form.username.id_for_label }}"
                            type="text" class="form-control"
                            placeholder="{{ login_form.username.label }}"
                            name="{{ login_form.username.name }}"
                    >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {% if login_form.username.errors %}
                    <ul class="errorlist">
                        {% for error in login_form.username.errors %}
                        {% if error != 'Обязательное поле.' %}
                        <li>{{ error }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="input-group">
                    <input
                            autofocus=""
                            required=""
                            id="{{ login_form.password.id_for_label }}"
                            type="password" class="form-control"
                            placeholder="{{ login_form.password.label }}"
                            name="{{ login_form.password.name }}"
                    >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {% if login_form.password.errors %}
                    <ul class="errorlist">
                        {% for error in login_form.password.errors %}
                        {% if error != 'Обязательное поле.' %}
                        <li>{{ error }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}