{% extends "mainapp/errors/base.html" %}

{% block title %}
403 - Доступ запрещен
{% endblock %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-warning"> 403</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Вам запрещен доступ к данному разделу сайта.</h3>
        <p>
            Скорее всего у вас нет прав для доступа. Если это не так - обратитесь к администратору.
            <br>
            Еще вы можете <a href="{% url 'mainapp:index' %}">вернуться на главную страницу</a>.
        </p>
    </div>
</div>
{% endblock %}